## **Data Integration - Challenge 1**

In [3]:
import pandas as pd
import pandas as pd
def get_path(dataset_name,env_name='colab'):
    """
    This function is used to return the path of the dataset you want to use. 
    
    @params:
    dataset_name: the name of the dataset. 
    env_name: it has two values either local, or colab the default is colab
    """
    prefix = 'https://raw.githubusercontent.com/mohamed-ashry7/Data-Engineering-Lab/main/Datasets/'
    if env_name == 'colab':
        return prefix+dataset_name
    else:
        return f'../Datasets/{dataset_name}'

In [4]:
mid1 = pd.read_excel(get_path('microbiome/MID1.xls'),header=None,names= ["Type","Count"])
mid2 = pd.read_excel(get_path('microbiome/MID2.xls'),header=None,names= ["Type","Count"])
mid3 = pd.read_excel(get_path('microbiome/MID3.xls'),header=None,names= ["Type","Count"])
mid4 = pd.read_excel(get_path('microbiome/MID4.xls'),header=None,names= ["Type","Count"])
mid5 = pd.read_excel(get_path('microbiome/MID5.xls'),header=None,names= ["Type","Count"])
mid6 = pd.read_excel(get_path('microbiome/MID6.xls'),header=None,names= ["Type","Count"])
mid7 = pd.read_excel(get_path('microbiome/MID7.xls'),header=None,names= ["Type","Count"])
mid8 = pd.read_excel(get_path('microbiome/MID8.xls'),header=None,names= ["Type","Count"])
mid9 = pd.read_excel(get_path('microbiome/MID9.xls'),header=None,names= ["Type","Count"])
metadata= pd.read_excel(get_path('microbiome/metadata.xls'))

In [6]:
#add the barcode to each of the 9 dataframes, so that you can easily add the metadata columns based on the BARCODE column
mid1["BARCODE"] = "MID1"
mid2["BARCODE"] = "MID2"
mid3["BARCODE"] = "MID3"
mid4["BARCODE"] = "MID4"
mid5["BARCODE"] = "MID5"
mid6["BARCODE"] = "MID6"
mid7["BARCODE"] = "MID7"
mid8["BARCODE"] = "MID8"
mid9["BARCODE"] = "MID9"

In [7]:
all_mid=  pd.concat([mid1,mid2,mid3,mid4,mid5,mid6,mid7,mid8,mid9])
all_mid

                                                  Type  Count BARCODE
0    Archaea "Crenarchaeota" Thermoprotei Desulfuro...      7    MID1
1    Archaea "Crenarchaeota" Thermoprotei Desulfuro...      2    MID1
2    Archaea "Crenarchaeota" Thermoprotei Sulfoloba...      3    MID1
3    Archaea "Crenarchaeota" Thermoprotei Thermopro...      3    MID1
4    Archaea "Euryarchaeota" "Methanomicrobia" Meth...      7    MID1
..                                                 ...    ...     ...
276  Bacteria "Thermotogae" Thermotogae Thermotogal...     43    MID9
277  Bacteria "Thermotogae" Thermotogae Thermotogal...     16    MID9
278  Bacteria "Verrucomicrobia" Opitutae Opitutales...      1    MID9
279  Bacteria Cyanobacteria Cyanobacteria  Chloropl...      1    MID9
280  Bacteria Cyanobacteria Cyanobacteria  Chloropl...     10    MID9

[2396 rows x 3 columns]

In [8]:
# Before we merge the dataframes with the metadata dataframe, let's merge them together
merged_data = pd.merge(all_mid,metadata, on = 'BARCODE', how= 'left')
merged_data.head()

,Type,Count,BARCODE,GROUP,SAMPLE
0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",7,MID1,EXTRACTION CONTROL,NaN
1,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",2,MID1,EXTRACTION CONTROL,NaN
2,"Archaea ""Crenarchaeota"" Thermoprotei Sulfoloba...",3,MID1,EXTRACTION CONTROL,NaN
3,"Archaea ""Crenarchaeota"" Thermoprotei Thermopro...",3,MID1,EXTRACTION CONTROL,NaN
4,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",7,MID1,EXTRACTION CONTROL,NaN